source [find interface/cmsis-dap.cfg]
cmsis-dap vid_pid 0xc251 0xf001
cmsis-dap backend hid

transport select swd

source [find target/stm32f4x.cfg]

# gdb_port 3333
# telnet_port 4444
# tcl_port 6666
